@import '@assets/style/variable.less';

.top-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  min-width: 800px;

  .icon-back {
    margin: 0 5px 0 10px;
  }

  .edit-title {
    flex: 1 1 calc(100% - 300px);
    height: 48px;
    color: #000;
    font-weight: bold;
    font-size: 24px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    --antd-wave-shadow-color: none;
  }

  .right-box {
    display: flex;
    flex: 1 1 400px;
    align-items: center;
    padding: 10px;

    .article-status {
      display: flex;
      width: 150px;
      align-items: center;
      color: #d9d9d9;
    }

    .btn-draft {
      color: #d9d9d9;
      margin: 0 15px 0 5px;

      &:hover {
        border-color: #b4b4b4;
        color: #b4b4b4;
      }
    }

    .btn-upload {
      margin-right: 15px;
      color: @primary-color;
      border-color: @primary-color;

      &:hover {
        background-color: rgba(78, 155, 212, .1);
      }
    }
  }
}